/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.load {
    display: flex;
    justify-content: flex-end; /* تنظیم لودینگ به سمت راست */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.text {
    margin-right: 20px; /* فاصله بین متن و لودینگ */
}

.loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
    border-bottom-color: turquoise;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
